@model CRUDwithDapper.Models.Branch

@{
    ViewData["Title"] = "Branch Details";
}

<div class="container mt-4">
    <h1 class="text-center text-primary">@ViewData["Title"]</h1>
    <p class="text-muted text-center">View the details of the selected branch below.</p>

    <div class="card shadow-sm mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <h4 class="card-title text-secondary">Branch Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4 text-secondary">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4 text-secondary">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-4 text-secondary">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
                <dt class="col-sm-4 text-secondary">
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.UpdatedDate)
                </dd>
            </dl>
            <div class="d-flex justify-content-between mt-4">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>
